.sign-in, .sign-up {
    margin: 5% auto 0;
    width: 500px;
}

.import,
.result-table,
.api{
    margin: 0 auto 0;
    width: 1300px;
}

.table {
    width: 100%;
}

label.error {
    color: #a94442;
    font-size: 13px;
}

html {
    background: #34568B;
}

.result-table__row__hidden {
    display: none;
}

.import__table-container {
    overflow: scroll; /* свойство для прокрутки по горизонтали. Автоматом, если содержимое больше блока */
    display: none;
    height: 600px;
}

.hidden {
    display: none;
}

/*-------------------------------------------*/
.border {
    border-radius: 5px;
}