
.sign-in, .sign-up {
    margin: 10% auto 0;
    width: 500px;
}

.import-table__box, .result-table__box {
    margin: 5% auto 0;
    width: 1300px;
}

.import-table, .result-table {
    width: 100%;
}

label.error {
    color: #a94442;
    font-size: 13px;
}

html {
    background: #34568B;
}

.result-table__row__hidden {
    display: none;
}

.import__table-container {
    overflow: scroll; /* свойство для прокрутки по горизонтали. Автоматом, если содержимое больше блока */
}

.thead-result__cell__hide, .tbody-result-import__row__hide, .tbody-result-import__cell__hide, .finish-processing__button, .import__table-container {
    display: none;
}

/*-------------------------------------------*/
