<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="http://localhost/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="http://localhost/js/script.js"></script>
</head>
<body>
<div class="box import-table__box container is-widescreen">
    <script>
        SizeFile();
        UniqueSelect();
    </script>
    <form class="import__form form block" name="sign_in" method="POST" action="?import/">
        <div class="file has-name block">
            <label class="file-label">
                <input class="input file__input file-input" type="file" name="file" accept=".xls,.xlsx" required>
                <span class="file-cta">
                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                    <span class="file-label">Выберите файл</span>
                </span>
                <span class="file-name"></span>
            </label>
        </div>
        <div class="block">
            <button class="button block box">Загрузить прайс</button>
        </div>
    </form>

    <table class="table import-table m-auto">
        <thead>
        <tr>
            <th>
                <div class="select">
                    <select class="select-col">
                        <option>Артикул</option>
                        <option>Название товара</option>
                        <option>Поставщик</option>
                        <option>Цена</option>
                        <option>Кол-во</option>
                        <option>Null</option>
                    </select>
                </div>
            </th>
            <th>
                <div class="select">
                    <select class="select-col">
                        <option>Артикул</option>
                        <option>Название товара</option>
                        <option>Поставщик</option>
                        <option>Цена</option>
                        <option>Кол-во</option>
                        <option>Null</option>
                    </select>
                </div>
            </th>
            <th>
                <div class="select">
                    <select class="select-col">
                        <option>Артикул</option>
                        <option>Название товара</option>
                        <option>Поставщик</option>
                        <option>Цена</option>
                        <option>Кол-во</option>
                        <option>Null</option>
                    </select>
                </div>
            </th>
            <th>
                <div class="select">
                    <select class="select-col">
                        <option>Артикул</option>
                        <option>Название товара</option>
                        <option>Поставщик</option>
                        <option>Цена</option>
                        <option>Кол-во</option>
                        <option>Null</option>
                    </select>
                </div>
            </th>
            <th>
                <div class="select">
                    <select class="select-col">
                        <option>Артикул</option>
                        <option>Название товара</option>
                        <option>Поставщик</option>
                        <option>Цена</option>
                        <option>Кол-во</option>
                        <option>Null</option>
                    </select>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>
    <div class="block mt-5">
        <button class="button box"><b>Завершить обработку</b></button>
    </div>
</div>
</body>
</html>