<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="http://mrprostos.keenetic.link/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="http://mrprostos.keenetic.link/js/pageImport.js"></script>
</head>
<body>
<div class="box import-table__box container is-widescreen">
    <script>
        SizeFile();
    </script>
    <form class="import__form form block" method="post" action="javascript:ImportForm();" enctype="multipart/form-data">
        <div class="file has-name block">
            <label class="file-label">
                <input class="input file__input file-input" type="file" name="uploadFile" accept=".xls,.xlsx" required>
                <span class="file-cta">
                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                    <span class="file-label">Выберите файл</span>
                </span>
                <span class="file-name"></span>
            </label>
        </div>
        <div class="block">
            <button class="button block import__button" type="submit">Загрузить прайс</button>
        </div>
    </form>
    <div class="import__table-container">
        <table class="table import-table m-auto">
            <thead>
            <tr class="thead__row">


            </tr>
            </thead>
            <tbody class="tbody-result-import">

            </tbody>
        </table>
    </div>
    <div class="block mt-5">
        <button class="button box" type="button" onclick="ChooseSelect();"><b>Завершить обработку</b></button>
    </div>
</div>
</body>
</html>