<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="http://mrprostos.keenetic.link/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="http://mrprostos.keenetic.link/js/script.js"></script>
    <script src="http://mrprostos.keenetic.link/js/form-action.js"></script>
</head>
<body>
<div class="box import-table__box container is-widescreen">
    <script>
        SizeFile();
        UniqueSelect();
    </script>
    <form class="import__form form block" method="post" action="javascript:ImportForm();" enctype="multipart/form-data">
        <div class="file has-name block">
            <label class="file-label">
                <input class="input file__input file-input" type="file" name="uploadFile" accept=".xls,.xlsx" required>
                <span class="file-cta">
                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                    <span class="file-label">Выберите файл</span>
                </span>
                <span class="file-name"></span>
            </label>
        </div>
        <div class="block">
            <button class="button block import__button" type="submit">Загрузить прайс</button>
        </div>
    </form>
    <table class="table import-table m-auto">
        <thead>
        <tr class="thead__row">
            <th class="thead-result__cell">
                <div class="select">
                    <select class="select-col">
                        <option value="" selected="selected">Null</option>
                        <option value="Артикул">Артикул</option>
                        <option value="НазваниеТовара">Название товара</option>
                        <option value="Поставщик">Поставщик</option>
                        <option value="Цена">Цена</option>
                        <option value="Кол-во">Кол-во</option>
                    </select>
                </div>
            </th>
        </tr>
        </thead>
        <tbody class="tbody-result-import">
        <tr class="tbody-result-import__row">
            <td class="tbody-result-import__cell"></td>
        </tr>
        </tbody>
    </table>
    <div class="block mt-5">
        <button class="button box"><b>Завершить обработку</b></button>
    </div>
</div>
</body>
</html>