<nav class="navbar is-info block border" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/import/">Импорт</a>
            <a class="navbar-item" href="/table/1">Таблица</a>
            <a class="navbar-item" href="/api/">Доступ к API</a>
        </div>
    </div>
</nav>
