{% include 'head.html.twig' %}
<body>
<div class="sign-in box">
    <div class="title content">
        <h1 class="has-text-centered">Вход</h1>
    </div>
    <form class="sign-in__form block" name="sign_in" method="POST" action="?sign_in/">
        <script>ValidateSignIn()</script>
        <div class="email block">
            <div class="email">Ваш email</div>
            <label>
                <input class="input email__input" type="email" name="email">
            </label>
        </div>
        <div class="password block">
            <div>Пароль</div>
            <label>
                <input class="input password__input" type="password" name="password">
            </label>
        </div>
        <div class="block">
            <input class="button is-success" type="submit" name="submit_btn" value="Войти">
        </div>
    </form>
    <div class="block">
        <p>Новый пользователь? <a class="tag is-link is-light is-rounded" href="?sign_up/"> Регистрация</a></p>
    </div>
</div>
</body>
</html>