{% include 'head.html.twig' %}
<body>
<script>
    showTable();
    showPage();
</script>
<div class="box result-table__box container is-widescreen">
    <table class="table result-table">
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Название товара</th>
            <th>Поставщик</th>
            <th>Цена</th>
            <th>Кол-во</th>
        </tr>
        </thead>
        <tbody class="result-database-table">
        <tr class="tbody-result-import__row__hide"></tr>
        <td class="tbody-result-import__cell__hide"></td>
        </tbody>
    </table>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous is-disabled is-centered" onclick="">Назад</a>
        <a class="pagination-next" onclick="">Вперед</a>
        <ul class="pagination-list">
        </ul>
    </nav>
</div>
</body>
</html>