<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="http://mrprostos.keenetic.link/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="http://mrprostos.keenetic.link/js/pageTable.js"></script>
</head>
<body>
<script>showTable()</script>
<div class="box result-table__box container is-widescreen">
    <table class="table result-table">
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Название товара</th>
            <th>Поставщик</th>
            <th>Цена</th>
            <th>Кол-во</th>
        </tr>
        </thead>
        <tbody class="result-database-table">


        </tbody>
    </table>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous is-disabled is-centered" onclick="">Назад</a>
        <a class="pagination-next" onclick="">Вперед</a>
    </nav>
</div>
</body>
</html>