<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div class="box import-table__box">
    <div class="block">
        <button class="button box">Загрузить прайс-лист</button>
    </div>
    <script>
        UniqueSelect();
    </script>
    <table class="table import-table m-auto">
        <thead>
        <tr>
            <th>
                <select class="select-col">
                    <option>Артикул</option>
                    <option>Название товара</option>
                    <option>Поставщик</option>
                    <option>Цена</option>
                    <option>Кол-во</option>
                    <option>Null</option>
                </select>
            </th>
            <th>
                <select class="select-col">
                    <option>Артикул</option>
                    <option>Название товара</option>
                    <option>Поставщик</option>
                    <option>Цена</option>
                    <option>Кол-во</option>
                    <option>Null</option>
                </select>
            </th>
            <th>
                <select class="select-col">
                    <option>Артикул</option>
                    <option>Название товара</option>
                    <option>Поставщик</option>
                    <option>Цена</option>
                    <option>Кол-во</option>
                    <option>Null</option>
                </select>
            </th>
            <th>
                <select class="select-col">
                    <option>Артикул</option>
                    <option>Название товара</option>
                    <option>Поставщик</option>
                    <option>Цена</option>
                    <option>Кол-во</option>
                    <option>Null</option>
                </select>
            </th>
            <th>
                <select class="select-col">
                    <option>Артикул</option>
                    <option>Название товара</option>
                    <option>Поставщик</option>
                    <option>Цена</option>
                    <option>Кол-во</option>
                    <option>Null</option>
                </select>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>
    <div class="block mt-5">
        <button class="button box">Загрузить прайс-лист</button>
    </div>
</div>
</body>
</html>